<div class="bgimg"></div>

<div class="w3-sand w3-grayscale w3-large">
<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">About CareShare</span></h5>
    <p></p>
    <p></p>
  </div>
</div>
</div>

