
<div class="share-provider-area">
	<button class="share-provider">
		<%= link_to 'Add a Doctor', new_provider_path(type: "Doctor") %>
	</button>
	
	<button class="share-provider">
		<%= link_to 'Add a Counsellor', new_provider_path(type: "Counsellor") %>
	</button>

	<button class="share-provider">
		<%= link_to 'Add a Organization', new_provider_path(type: "Organization") %>
	</button>
</div>

