<h1>Hey! This is the Homepage.</h1>

<div>
	<ul>
		<li><%= link_to 'Add a Doctor', new_provider_path(type: "Doctor") %></li>
		<li><%= link_to 'Add a Counsellor', new_provider_path(type: "Cousellor") %></li>
		<li><%= link_to 'Add a Organization', new_provider_path(type: "Organization") %></li>
	</ul>
	<ul>
		<li><%= link_to "View All D.O.C's", providers_path %></li>
	</ul>
</div>
