<body>
	<div class="search-bar">
		<%= form_tag providers_path, method: :get, authentication: false, id: 'search-form' do %>
			<%= text_field_tag :search, params[:search]  %>
			<button class="search-bar-label">Find a Provider</button>
		<% end %>
	</div>


	<div id="providers">
		<%= render partial: "/providers/providers", locals: {providers: @providers} %>
	</div>
</body>








