<h1>Ratings#show</h1>
<p>Find me in app/views/ratings/show.html.erb</p>

<div>
  The Overall Rating: <%= @rating.overall_rating %>
</div>

<div>
  Your Rating: <%= @rating.single_user_rating %>
</div>