* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
a {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #68c6c7 ;
	text-decoration: none;
}
.share-provider {
	-moz-box-shadow:inset 0px 39px 12px -10px #B3E2E3;
	-webkit-box-shadow:inset 0px 39px 12px -10px #B3E2E3;
	box-shadow:inset 0px 39px 12px -10px #B3E2E3;
	background-color:#77cccd;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	width: 15em;
	height: 2em;
	padding:13px 76px;
	text-decoration:none;
	border: 2px solid #68c6c7;
	margin-bottom: 2em;
	margin-right: 1em;

}
.share-provider:hover {
	background-color: #a0dbdc;
}
.share-provider:active {
	position:relative;
	top:1px;
}
*/

