.share-provider a {
	background-color: #734B8B;
	width: 300px;
	height: 50px;
	padding: 10px;
	margin: 20px;
	border-radius: 25px;
	font-size: 20px;
	color: #C6A4C6 ;
	text-decoration: none;
	border: none;
	outline: none;

}
